POSTGRES_DB=chatdb
POSTGRES_USER=chatuser
POSTGRES_PASSWORD=change-this-db-password
JWT_SECRET_KEY=change-this-jwt-secret
JWT_EXPIRE_MINUTES=1440
MAX_MESSAGE_CHARS=2000
MAX_LINKS_PER_MESSAGE=4
MAX_REPEAT_CHARS=14
MESSAGE_RATE_LIMIT_COUNT=40
MESSAGE_RATE_LIMIT_WINDOW_SECONDS=60
FILE_RATE_LIMIT_COUNT=15
FILE_RATE_LIMIT_WINDOW_SECONDS=60
BANNED_TERMS=
